.top-buffer {
  margin-top: 40px;
}

.font-consistent {
  color: #737b7b;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
}
